# This workflow will install Python dependencies and run tests with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Testing - master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: 3.6
            numpy-version: 1.15.4
            matplotlib-version: 3.0.2
          - python-version: 3.7
            numpy-version: 1.16.6
            matplotlib-version: 3.4.3

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install numpy==${{ matrix.numpy-version }}
        pip install matplotlib==${{ matrix.matplotlib-version }}
    - name: Test with pytest
      run: |
        pytest

